{% extends "layout.njk" %}
{% block content %}

<main class="container">
    <h1>{{title}}</h1>
    <form action="/calc" method="get">
        First value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="number" name="num1"><br>
        Second value: <input type="number" name="num2"><br>

        <button type="submit">Addition</button>
        <button type="submit" formaction="/calc/subtract">Subtract</button>
        <button type="submit" formaction="/calc/multi">Multiply</button>
        <button type="submit" formaction="/calc/div">Divide</button>


        {# 
        <select name="method">
            <option value="add">Addition</option>
            <option value="sub">Subtract</option>
            <option value="multi">Multiply</option>
            <option value="div">Division</option>
        </select>

        {% if method == sub %}
            <button type="submit" formaction="/calc/subtraction">Räkna</button>
        {% endif %}
        <button type="submit" formaction="/calc/div">Räkna</button>
        #}

    </form>


</main>
{% endblock %}