{% extends "layout.njk" %}

{% block content %}
<main class="container">
    <h1>{{ message }}</h1>

    <p>Om sidan!</p>
    

    <p>Klicka <a href="/">här för att gå tillbaka</a> eller <a href="/test">här för att gå till test sida</p>
</main>

{% endblock %}